In [3]:
import requests
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import os
from dotenv import load_dotenv

In [4]:
load_dotenv()
api_key = os.getenv('Alpha_Vantage_API_KEY') # Alpha Vantage API Key
if not api_key:
    raise ValueError("API key is missing. Set the Alpha_Vantage_API_KEY environment variable in the .env file.")

ts = TimeSeries(key = api_key, output_format = 'pandas')
data = ts.get_daily('AAPL')

In [5]:
OHLCV = data[0]
OHLCV.head()

            1. open  2. high    3. low  4. close   5. volume
date
2025-05-01  209.080   214.56  208.9000    213.32  57365675.0
2025-04-30  209.300   213.58  206.6705    212.50  52286454.0
2025-04-29  208.693   212.24  208.3700    211.21  36827633.0
2025-04-28  210.000   211.50  207.4600    210.14  38743074.0
2025-04-25  206.365   209.75  206.2000    209.28  38222258.0