In [1]:
import requests
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()
api_key = os.getenv('Alpha_Vantage_API_KEY') # Alpha Vantage API Key
if not api_key:
    raise ValueError("API key is missing. Set the Alpha_Vantage_API_KEY environment variable in the .env file.")

ts = TimeSeries(key = api_key, output_format = 'pandas')
tickers = ["AAPL", "GOOG", "MSFT", "AMZN", "META", "NVDA", "TSLA", "NFLX", "AMD", "PLTR"]

In [3]:
all_data = []

for ticker in tickers:
    try:
        data, meta_data = ts.get_daily(symbol=ticker, outputsize = 'compact')
        data.reset_index(inplace = True)
        data['stock'] = ticker
        all_data.append(data)
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")

In [11]:
combined_df = pd.concat(all_data, ignore_index = True)

combined_df.columns = ['date', 'open', 'high', 'low', 'close', 'volume', 'stock']
combined_df = combined_df[['stock', 'date', 'open', 'high', 'low', 'close', 'volume']]

combined_df.isna().sum()

stock     0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [12]:
combined_df

    stock       date     open    high       low   close       volume
0    AAPL 2025-05-01  209.080  214.56  208.9000  213.32   57365675.0
1    AAPL 2025-04-30  209.300  213.58  206.6705  212.50   52286454.0
2    AAPL 2025-04-29  208.693  212.24  208.3700  211.21   36827633.0
3    AAPL 2025-04-28  210.000  211.50  207.4600  210.14   38743074.0
4    AAPL 2025-04-25  206.365  209.75  206.2000  209.28   38222258.0
..    ...        ...      ...     ...       ...     ...          ...
995  PLTR 2024-12-11   72.980   73.00   68.0700   72.51   89477656.0
996  PLTR 2024-12-10   71.990   75.56   70.7300   70.89   89672470.0
997  PLTR 2024-12-09   80.580   80.91   71.0500   72.46  168134824.0
998  PLTR 2024-12-06   72.950   76.82   72.2800   76.34   93640902.0
999  PLTR 2024-12-05   70.110   72.98   69.8900   71.87   66585762.0

[1000 rows x 7 columns]